/* ページ全体の背景色などを設定 */
main {
	background: #efffff;
}

/* ページの見出し領域の背景色，画像などを設定（id属性で設定） */
/* 画像のファイルへのパスはこのCSSファイルのあるフォルダから見て，どこにあるかの相対パスとなる */
#bg-head {
	background: #deedff url(../photos/header_back_ground.jpg) repeat-x;
}

/* class属性で設定した領域で背景を青系（#99e0ff）にする */
.bg-lightblue{
	background: #99e0ff;
}

.futter{
	background: #efffff;
}

.bg-white{
	background: #ffffff;
}

.border-dashed{
	border: 1pt;
	border-style: dashed;
}

.border-radius{
	border: 1pt;
  border-radius: 10px;
}

.box-shadow{
	box-shadow: 2px 2px 4px gray; /*影の幅 右 下　ぼかしの幅　影の色(カラーコードも可） */
}

.small_50{
	width: 50%;
	height: 50%;
}

/*ボード風*/
.box12{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
}
.box12 p {
    margin: 0; 
    padding: 0;
}

.box4_moji{
	background: #cde4ff;
	border-top: solid 5px #5989cf;
}

/*ニュース*/
.box4{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}
.box4 p {
    margin: 0; 
    padding: 0;
}

/*地図の枠組み*/
.box6 {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
}
.box6 p {
    margin: 0; 
    padding: 0;
}

/*リンク先のボタン */
a {
  text-decoration: none;
}

.btn a {
  display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 300px;
	height: 60px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
        background-color: #7dca65;

        border-radius: 20px;
}

/* 枠組みのCSS */
.box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
    margin: 0; 
    padding: 0;
}

/* 地図の表示領域の設定 */
#map_here{
	text-align: center;
	width: 1000px;
	height: 400px;
}

